@charset "UTF-8";

/* MIXINS
-------------------------------------------------- */
@mixin border-radius($values) {
  -webkit-border-radius: $values;
  -moz-border-radius: $values;
  border-radius: $values;
}

@mixin flex($value) {
  -webkit-flex: $value;
  -moz-flex: $value;
  -ms-flex: $value;
  -o-flex: $value;
  flex: $value;
}

@mixin flex-wrap($value) {
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  -ms-flex-wrap: $value;
  -o-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin flex-direction($value) {
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  -o-flex-direction: $value;
  flex-direction: $value;
}

@mixin icon-background($url, $move-y, $move-x: 50%) {
  background: url($url) no-repeat $move-x $move-y;
}

@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);
}

@mixin background-size($value) {
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  -o-box-shadow: $value;
  box-shadow: $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

/* FONTS
-------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
//font-family: 'Comfortaa', cursive;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
//font-family: 'Open Sans';

/* VARIABLES
-------------------------------------------------- */
$red: #CF212F;
$dark-blue: #021425;
$titleColor: #FFC107;

/* COMMON TAGS AND CLASES
-------------------------------------------------- */

body {
  color: #000;
  background-color: #ededed;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

section {
  padding: 50px 0;
  h1 {
    padding-bottom: 0;
  }
}

hr {
  border-top: 1px solid #000;
}

.btn:active, .btn:focus {
  outline: none !important;
}

.btn-default-lg {
  font-weight: bold;
  margin-top: auto;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: #E03E3E;
  @include transition(background-color .3s);
  &:hover, &:focus {
    background-color: #C53737;
    color: white;
  }
}

.btn-default-lg {
  padding: 1em 2.5em;
}

.gray {
  background-color: #ECF0F1;
}

.white {
  background-color: #fefefe;
}

/* NAV
-------------------------------------------------- */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  & > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    @include box-shadow(0 0 3px #000);
    a {
      color: #000;
    }
    .active > a {
      background-color: #95A5A6;
    }
  }
  .navbar-toggle {
    border: none;
    padding: 0;
    &:focus {
      background-color: transparent;
    }
  }
  .fa-bars {
    padding: 15px 0;
  }
}

@media (min-width: 768px) {
  .navbar-wrapper {
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.logo {
  height: 100%;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 75px;
  height: 75px;
  padding-top: 0;
  font-size: 1.8rem;
}

.navbar-brand {
  padding: 7px 15px;
}

@media (max-width: 768px) {
  .navbar-nav li a {
    line-height: 50px;
    height: 50px;
  }
}

/* INTRO
-------------------------------------------------- */

.intro {
  width: 100%;
  height: 100%;
  color: #fff;
  background: url(../img/intro.jpg) no-repeat 50% 55%;
  z-index: 99;
  @include background-size(cover);
  h1 {
    font-family: 'Open Sans';
    padding: 20vh 0 10vh;
    text-shadow: 2px 2px 10px black, 0 0 5rem black;
    z-index: 99;
  }
  h2 {
    padding-top: 20vh;
  }
  .intro-wrapper {
    width: 100%;
    height: 100%;
    text-shadow: 2px 2px 10px black, 0 0 5rem black;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/* MAIN CONTENT
-------------------------------------------------- */

#price {
  font-family: 'Lato', sans-serif;
  .icon {
    font-size: 2.5em;
    color: #5A5A5A;
    @include transition(color .3s);
  }
  .pricing {
    &__feature-list {
      color: #000;
      font-size: 1.25em;
      list-style: none;
      margin: 0 auto;
      text-align: left;
    }
    &__title {
      font-size: 1.4em;
    }
    &__price {
      font-size: 2em;
      font-weight: bold;
      margin: 0.5em 0 0.75em;
      overflow: hidden;
      will-change: transform;
    }
    &__currency {
      font-size: 0.6em;
    }
    &__anim {
      display: inline-block;
      position: relative;
    }
  }

  .row:hover {
    .icon {
      color: #E03E3E;
    }
    .pricing__anim {
      -webkit-animation: moveUp .5s forwards;
      -o-animation: moveUp .5s forwards;
      animation: moveUp .5s forwards;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      -o-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
  }

}

@-webkit-keyframes moveUp {
  50% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  52% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes moveUp {
  50% {
    @include transform(translate3d(0, -100%, 0));
  }
  51% {
    opacity: 0;
    @include transform(translate3d(0, -100%, 0));
  }
  52% {
    opacity: 1;
    @include transform(translate3d(0, 100%, 0));
  }
  100% {
    @include transform(translate3d(0, 0, 0));
  }
}

@media (max-width: 60em) {
  .pricing__item {
    max-width: none;
    width: 100%;
    @include flex(none);
    border: none !important;
    opacity: 1 !important;
  }
}

#description, #about {
  font-size: 1.75rem;
  line-height: 2em;
}

.slider-for, .slider-nav {
  img {
    -o-object-fit: cover;
    -webkit-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
  }
}

.slider-for img {
  max-height: 682px;
}

@media (max-width: 768px) {
  .slider-for img {
    max-height: 290px;
  }
}

.slider-nav img {
  max-height: 200px;
}

.slider-for, .slider-nav {
  * {
    margin: 0 auto;
  }
}

.slick-slide:active, .slick-slide:focus {
  outline: none !important;
}

.divider {
  margin: 80px 0;
}

.subtitle-divider {
  width: 20%;
  border-top: 1px solid #DDDDDD;
  padding-bottom: 25px;
}

.map {
  padding: 0;
  margin: 0;
  height: 400px;
  width: 100%;
}

/* FOOTER
-------------------------------------------------- */

footer {
  background-color: $dark-blue;
  padding-top: 50px;
  padding-bottom: 40px;
}

.footer-wrapper {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 50px 0;
}

.footer-list {
  color: #f5f5f5;
  address {
    text-shadow: 1px 1px 0 black;
  }
  span {
    margin-bottom: .5em;
  }
  a {
    color: #f5f5f5;
  }
}

.copyright {
  color: #a5a5a5;
}

.social-icons {
  .fa {
    font-size: 1.8em;
  }
  .fa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  &.icon-circle .fa {
    border-radius: 50%;
  }
  .fa:hover, .fa:active {
    color: #FFF;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
  }
  &.icon-zoom .fa:hover, &.icon-zoom .fa:active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  .fa-facebook {
    background-color: #3C599F;
  }
  .fa-vk {
    background-color: #375474;
  }
  .fa-odnoklassniki {
    background-color: #ed812b;
  }
  .fa-youtube, .fa-youtube-play, .fa-youtube-square {
    background-color: #C52F30;
  }
}

/* CONTACT MODAL
-------------------------------------------------- */
.contact {
  @include border-radius(0);

  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  input, textarea {
    background: #FFF;
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    border: 1px solid #CCC;
    width: 75%;
    margin: 0 0 5px;
    padding: 10px;
    &:hover {
      @include transition(border-color 0.3s ease-in-out);
    }
    &:focus {
      outline: 0;
      border: 1px solid #999;
    }
  }
  textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  ::-webkit-input-placeholder {
    color: #888;
  }
  :-moz-placeholder {
    color: #888;
  }
  ::-moz-placeholder {
    color: #888;
  }
  :-ms-input-placeholder {
    color: #888;
  }
  .alert {
    padding: 15px;
  }
}

.contact-title {
  color: #F96;
  font-size: 30px;
  font-weight: 400;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}